<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body class="container">
    <div class="card">


     <table border="1" class="table">
         <thead class="bg-info text-light">
            <tr>
               <th>Name</th>
               <th>Email id</th>
               <th>Mobile Number</th>
               <th>Password</th>
            </tr>
         </thead>

         <tbody>

              <tr>
                  <td>{{tname}}</td>
                  <td>{{ temail }}</td>
                  <td>{{ tmobile }}</td>
                  <td>{{ tpassword }}</td>
               </tr>

          </tbody>
      </table>

    </div>

    <!-- {{tmobile}}{{temail}}{{tpassword}} -->

  </body>
</html>
